@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300');

html{
max-width: 100%;
overflow-x: hidden;
}
body{
  font-family: 'Roboto', sans-serif !important;
font-family: 'Roboto Condensed', sans-serif !important;
background-color: #2B3441;
color: #fff;
max-width: 100%;
overflow-x: hidden;
}

h1,h2,h3,h4{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

    
    .con1{
        padding-left: 75px;
        padding-right: 75px;
      }

      #myTab2{
        background-color: #12161C;
       }

      .con3{
        border: 1px solid #D8D8D8; 
      }

      #footer1{
        background-color: #252424;
        padding-left: 75px;
        padding-right: 75px;
      }

      .font1 a{
        font-size: 16px;
        color: #878383;
      }

      .font3 {
        font-size: 13px;
      }

      #dis2 {
        display: none;
      }

      #head1{
        background-color: #12161C;
        color: white;
      }
      .clrchange{
        color: initial;
      }
      
      .nav .nav-link{
        color: white;
        background-color: #12161C;
        border-bottom: 1px solid #12161C;
      }
      .nav .nav-link.active,
        .nav .show > .nav-link {
          color: #ee2d28;
          background-color: #12161C;
          border-bottom: 1px solid #ee2d28;
        }

      .tradingview-widget-container{
        background-color: #2B3441;
      }

      .depthwidget{
        width: 100px;
        position: absolute;
        right: 20px;
        up: 0px;
        z-index: 1;
        background-color: #007bff;
        color: black;
        border: 1px solid #2B3441;
        height: 37px;
      }

      .candlewidget{
        width: 100px;
        position: absolute;
        right: 20px;
        up: 0px;
        z-index: 1;
        background-color: #007bff;
        color: black;
        border: 1px solid #2B3441;
        display: none;
        height: 37px;
      }

      #bodymodal{
        height: 500px;
      }
      

      #trade1{
        background-color: #007bff;
        color: white;
      }
      .btn1{
        border-style: none;
        width:50%; 
        height: 40px; 
        color: #fff; 
        background-color: #f69022;
        border-left: 2px solid #f69022;
        border-top: : 2px solid #f69022;
        border-bottom: 2px solid #f69022;
      }

      .btn12{
        border-style: none;
        width:50%; 
        height: 40px; 
        color: #fff; 
        background-color: transparent;
        border-left: 2px solid #f69022;
        border-top: 2px solid #f69022;
        border-bottom: 2px solid #f69022;
      }



      .btn2{
        border-style: none;
        width:50%; 
        height: 40px;
        color: #fff; 
        background-color: transparent; 
        border-right: 2px solid #f69022;
        border-top: 2px solid #f69022;
        border-bottom: 2px solid #f69022;
      }

      .btn21{
        border-style: none;
        width:50%;
        height: 40px; 
        color: #fff; 
        background-color: #f69022;
        border-right: 2px solid #f69022;
        border-top: : 2px solid #f69022;
        border-bottom: 2px solid #f69022;

      }

      .tabtab1{
        display: none;
      }
      

      #chartdiv{
        width: 100%;
        height: 300px;
      }
      
      .tabtable0, .tabtable3, .tabtable4{
        height: 250px;
        display: block;
        overflow: auto;
      }
      
      .tabtable1{
        overflow: auto;
        max-height: 250px;
      }
      
      .tabtable2{
        overflow: scroll;
        height: 250px;
      }

      #table1 thead tr, #table1 tbody tr{
        font-size: 11px;
      }
      
      .spread{
          margin-bottom: 0; 
      }

      .fras1{
        background-image: linear-gradient(to right, crimson, springgreen);
        font-size: 15px;
        word-spacing: 12px;
      }

      .fras2{
        background-image: linear-gradient(to left, crimson, springgreen);
        font-size: 15px;
        word-spacing: 12px;
      }

      .cntr{
        color: dodgerblue;
        font-size: 14px !important;
        margin-bottom: 0;
      }


      @media screen and (max-width: 480px){
        .con1 {
          padding-left: 15px;
          padding-right:15px;
        }
        #dis{
          display: none;
        }
        #footer1{
          padding-left: 15px;
          padding-right:15px;
        }
        .font1{
        font-size: 10px;
      }
        .font2{
          font-size: 15px;
        }

        #dis2{
          display: inline-block;
        }

        .depthwidget{
          width: 140px;
          padding: 4px 0px 4px 0px;
        }

        .candlewidget{
          width: 140px;
          padding: 4px 0px 4px 0px;
        }

        }

        @media screen and (max-width: 395px){
          .font2{
            font-size: 13px;
          }
        }

         
        
